extends ../layouts/page.pug

block content
    if error
        p= error.message

    form(action = '/courses', method = 'post')
        div
            label title:
                input(type = 'text', name  = 'title')
        div
            label description:
                input(type = 'text', name = 'description')
        input(type = 'submit', value = 'Submit')