extends ../layouts/page.pug

block content
    h2 #{course.title}


    div #{course.description}

    div
      a(href=route('editCourse', { id: course.id })) Edit course
      form(action=route('deleteCourse', { id: course.id }) + '?_method=DELETE', method="post")
        input(name="_method" type="hidden" value="DELETE")
        input(type='submit', value="Удалить")

