doctype html
html(lang='en')
head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous")
    title Hello!
body

    block header
        h2 My Site
        p
        p
        a(href='/') Main page
        p
        p
        p
    block content
    p
    p
    block footer
        p
        p
        p
        p
        div
            a(href='https://github.com/fairwind2k') My Github