extends ../layouts/page.pug

block content
  h2.header= 'Users'
  table.table.table-striped
    tr
      th ID
      th Name
      th Email
      each user, index in users
        tr
          td
            a(href='/users/' + user.id) #{user.id}
          td= user.username
          td= user.email
