extends ../layouts/page.pug

block content
    h3.header= 'Users'
    form(role = 'form' method = 'GET' action = route('users'))
        input(type = 'search', name = 'term', value = term)
        input(type = 'submit' value = 'search')
    table.table.table-striped
        tr
            th ID
            th Name
            th Email
        each user, index in users
            tr
                td
                    a(href='/users/' + user.id) #{user.id}
                td= user.name
                td= user.email
