extends ../layouts/page.pug

block content

    if error
        p= error.message

    .container.wrapper.flex-grow-1.p-2
        if flash && flash.warning
            for message in flash.warning 
                .alert(class='alert-warning')
                    = message
        if flash && flash.success
            .alert(class='alert-success')
                = flash.success

    form(action = '/users', method = 'post')
        div
            label name:
                input(type = 'text', name = 'name', value = name)
        div
            label email:
                input(type = 'email', name = 'email', required = true, value = email)
        div
            label password:
                input(type = 'password', name = 'password', required = true, value = password)
        div
            label password confirmation:
                input(type = 'password', name = 'passwordConfirmation', required = true, value = passwordConfirmation)
        input(type = 'submit', value = 'Submit')