extends ../layouts/page.pug

block content
    h2 #{user.name}
    div #{user.email}
    
    div
        a(href=route('editUser', { id: user.id })) Редактировать

        form(action=route('deleteUser', { id: user.id }), method="post")
          input(name="_method" type="hidden" value="DELETE")
          input(type='submit', value="Удалить")