extends ../layouts/page.pug


block content
    h2 #{user.name}
    div #{user.email}
    
    div
        a(href=route('editUser', { id: user.id })) Edit user

        form(action=route('deleteUser', { id: user.id }) + '?_method=DELETE', method="post")
          input(name="_method" type="hidden" value="DELETE")
          input(type='submit', value="Удалить")